<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayLive</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/component/header.js" type="text/javascript"></script>
    <script src="/component/axiosFactory.js" type="text/javascript"></script>
    <script src="/state/memberStore.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="app">
    <header-component></header-component>
    <div class="container mx-auto my-10">
        <h1 class="mb-4 text-4xl font-extrabold text-gray-900">
            Now
            <span class="text-transparent bg-clip-text bg-gradient-to-r to-yellow-600 from-red-400">
            On Air!
        </span>
        </h1>
        <div class="container mx-auto">
            <div class="grid grid-cols-4 gap-4">
                <div v-for="channel in liveChannels" class="relative">
                    <a :href="'/live/' + channel.username">
                        <img v-if="channel.thumbnail.length" :src="'data:image/png;base64,' + channel.thumbnail" class="w-full h-48 object-cover rounded-lg">
                        <img v-else src="/asset/thumbnail.jpg" class="w-full h-48 object-cover rounded-lg">
                        <div class="absolute bottom-0 left-0 right-0 p-2 bg-gray-900 bg-opacity-50 text-white">
                            <p class="text-sm font-bold">{{ channel.title }}</p>
                            <p class="text-xs">{{ channel.nickName }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            liveChannels: []
        },
        components: {
            headerComponent
        },
        methods : {
            getLiveChannels: function () {
                let self = this;
                let callback = function (response) {
                    self.liveChannels = response;
                };
                getAxios('/api/stage/info/list', {}, callback)
            },
        }
    });
</script>
</body>
</html>