<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link rel="stylesheet" href="/css/live.css">
</head>
<body>
<div id="app">
  <video id="video-player"
         src=""
         poster="https://afreehp.kr/update/bnr/bnr_penalty_type_1.png"
         playsinline="" autoplay muted controls x-webkit-airplay="" webkit-playsinline=""
         controlsList="noplaybackrate nodownload" width="1327px"></video>
  <div>
    <span>{{ viewerCount }}</span><span>명 시청중</span>
  </div>
</div>

<script>
  let app = new Vue({
    el: '#app',
    data: {
      channel : "",
      viewerCount: 0
    },
    methods :{
      check: function () {
        axios.get('/api/stage/check/' + this.channel)
        .then(function (response) {
          if (response.data === true) {
            app.playHls();
          } else {
            alert("오프라인입니다.");
          }
        })
        .catch(function () {
          alert("에러입니다.");
        });
      },
      playHls: function () {
        var video = document.getElementById('video-player');
        var videoSrc = "/api/stage/live" + this.channel;

        if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = "http://146.56.115.136:8000/hls/"+ this.channel +".m3u8";

        } else if (Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource(videoSrc);
          hls.attachMedia(video);
        }
        video.play();

        setInterval(app.heartbeat, 10_000);
        setInterval(app.getViewerCount, 10_000);
      },
      initChannel: function () {
        this.channel = window.location.pathname.split('/').pop();
      },
      getViewerCount: function () {
        axios.get('/api/stage/viewer/' + this.channel)
        .then(function (response) {
          app.viewerCount = response.data;
        })
        .catch(function () {
        });
      },
      heartbeat: function () {
        axios.post('/api/stage/viewer/' + this.channel)
      }
    },
    mounted: function () {
      this.initChannel();
      this.check();
      this.heartbeat();
      this.getViewerCount();
    }
  });

</script>
</body>
</html>